.textContainer{
    width: 500px;

    h1{
        font-size: 60px;
    }

    p{
        width: 85%;
    }

    button{
        height: 40px;
        width: 120px;
        background-color: black;
        color: white;
        border-radius: 5px;
        outline: none;
        border: none;
        font-family: poppins;
        cursor: pointer;
    }
}