body {
  font-family: poppins;
}

.generalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  font-family: poppins;
  cursor: pointer;
  border-radius: 5px;
  transition: all 350ms;
}

button:hover {
  transform: translate(1.11);
  background-color: red;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
