button {
  height: 45px;
  width: 150px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: poppins;
  font-weight: 800;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}
