body {
  font-family: poppins;
}

button,
input {
  font-family: poppins;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
  border: 1px solid #ddd;
  cursor: pointer;
}
